<footer style="background:rgb(28, 30, 34)">
  <section class="footer">
    <div class="container">
      <h2 class="text-center" style="font-family:'Pacifico'">Coffee Shop</h2>
      <ul class="breadcrumb text-center">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="contacto.html">Contáctanos</a></li>
        <li class="active"><a href="ubicacion.html">Ubicanos</a></li>
      </ul>
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Precios</h4>
            <ul>
              <li><a href="#">Epreso Doble S/.00.00</a></li>
              <li><a href="#">Americano S/.00.00</a></li>
              <li><a href="#">Café Créme S/.00.00</a></li>
              <li><a href="#">Capuchino S/.00.00</a></li>
              <li><a href="#">Frappé S/.00.00</a></li>
              <li><a href="#">Instanteneo S/.00.00</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Servicios</h4>
            <ul>
              <li><a href="#">Café Solo</a></li>
              <li><a href="#">Tipos de Cortado</a></li>
              <li><a href="#">Café con Leche</a></li>
              <li><a href="#">Café Frios</a></li>
              <li><a href="#">Infusion</a></li>
              <li><a href="#">Otros</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4">
          <div class="footer_dv">
            <h4>Contactanos</h4>
            <p>Puedes llamarnos al numero de aquí</p>
            <p>956 XXX XXX</p>
            <hr>
            <p>Nos encuentras en:</p>
            <p>Calle Santo Domingo</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="form-group">
      <div class="text-center center-block">
        <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
    </div>
  </section>
</footer>
