<div class="container">
  <div class="col-md-offset-3 col-md-6 thumbnail">
    <form class="form-horizontal">
      <fieldset>
        <legend>Contáctanos</legend>
        <div class="form-group">
          <label for="inputName" class="col-lg-2 control-label">Nombre</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputName" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Mensaje</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea" placeholder="Dejanos tu mensaje..."></textarea>
            <span class="help-block">Tu opinion nos importa.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Valoranos</label>
          <div class="col-lg-10">
            <select class="form-control" id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <span class="help-block">Del 1 al 5 que te parecio nuestra atención.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <span class="help-block">TELEFONO: 956 XXX XXX</span>
            <span class="help-block">E-MAIL: coffeeShop@gmail.com</span>

          </div>
        </div>
        <hr>
      </fieldset>
    </form>
  </div>
</div>
